<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.caco3.mvk">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MvkApplication">

        <activity android:name=".splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LogInActivity" />
        <activity android:name=".myaudios.MyAudiosActivity" />
        <service android:name=".audiodownload.AudioDownloadService" />
        <receiver android:name=".audiosync.receiver.SyncAudiosAlarmReceiver" />
        <service android:name=".audiosync.SyncAudiosService" />
        <activity android:name=".settings.SettingsActivity" />
        <receiver android:name=".boot.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
